<% include ../public/header.ejs %>
<link rel="stylesheet" href="css/index.css">
<% include ../public/header-body.ejs %>

<% include ../pub/header.ejs %>
	
<!--banner-->
<div class="banner">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
			<img src="img/banner.jpg" alt="banner">
			<div class="carousel-caption">
				<a href="#">新闻标题</a>
			</div>
	    </div>
	    <div class="item">
	      <img src="img/banner.jpg" alt="banner">
	      <div class="carousel-caption">
	      		<a href="#">其他新闻</a>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">上一张</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">下一张</span>
	  </a>
	</div>
</div>
<!--//banner-->

<!--method-grids-->
<div class="news" id="news">
	<div class="container">
		<div class="col-md-3 method-grids">
			<h2 ><i class="fa fa-flag fa-lg"></i>红星新闻</h2>
			<ul class="news_detial">
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
			</ul>			
		</div>
		<div class="col-md-3 method-grids">
			<h2 ><i class="fa fa-flag fa-lg"></i>村内新闻</h2>
			<ul class="news_detial">
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 method-grids">
			<h2 ><i class="fa fa-flag fa-lg"></i>国际新闻</h2>
			<ul class="news_detial">
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 method-grids">
			<h2 ><i class="fa fa-flag fa-lg"></i>国际新闻</h2>
			<ul class="news_detial">
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
				<li>
					<i class="fa fa-hand-o-right"></i>
					<a href="#">一队的大鱼</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>	
<!--//method-grids-->
<!--method-text-->
<div class="news-text">
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
			in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		<h3>John Doe,<span>Doe Company</span></h3>
	</div>
</div>	
<!--//method-text-->
<!--cases-->
<div class="cases" id="cases">
	<div class="container">
		<h3>妈妈帮</h3>
		<div class="col-md-3">
			<div class="cases-grids">
				<div class="cases-grids-info cases-top">
					<img src="img/img9.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
				<div class="cases-grids-info">
					<img src="img/img13.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="cases-grids">
				<div class="cases-grids-info cases-top">
					<img src="img/img10.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
				<div class="cases-grids-info">
					<img src="img/img14.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
			</div>		
		</div>
		<div class="col-md-3">
			<div class="cases-grids">
				<div class="cases-grids-info cases-top">
					<img src="img/img11.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
				<div class="cases-grids-info">
					<img src="img/img15.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="cases-grids">
				<div class="cases-grids-info cases-top">
					<img src="img/img12.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
				<div class="cases-grids-info">
					<img src="img/img16.jpg" alt=""/>
					<div class="caption">
						<h5>Zulu Comedy Galla 2012</h5>
						<ul>
							<li><a href="#"> - Visual identity</a></li>
							<li><a href="#"> - Website</a></li>
							<li><a href="#"> - Posters</a></li>
							<li><a href="#"> - Flyers</a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="clearfix"> </div>
	</div>
</div>	
<!--//cases-->
<!--services-->
<div class="bigEvent" id="bigEvent">
	<div class="container">
		<h3>大事件</h3>
		<div class="bigEvent-grids">
			<h5>Identity</h5>
			<ul>
				<li><a href="#">City Branding</a></li>
				<li><a href="#">Event branding</a></li>
				<li><a href="#">Campaign</a></li>
				<li><a href="#">Culture branding</a></li>
				<li><a href="#">Visual identity</a></li>		
			</ul>
		</div>
		<div class="bigEvent-grids">
			<h5>Apps & mobile</h5>
			<ul>
				<li><a href="#">iPhone design</a></li>
				<li><a href="#">iPad design</a></li>
				<li><a href="#">Android design</a></li>
				<li><a href="#">Application design</a></li>
				<li><a href="#">Facebook apps</a></li>
				<li><a href="#">Interface design</a></li>
			</ul>
		</div>	
		<div class="bigEvent-grids three">
			<h5>Online</h5>
			<ul>
				<li><a href="#">CMS development</a></li>
				<li><a href="#">Sociale medier</a></li>
				<li><a href="#">Frontend development</a></li>
				<li><a href="#">Campaign sites</a></li>
				<li><a href="#">Mobile sites</a></li>
				<li><a href="#">Video platform</a></li>
				<li><a href="#">Web Design</a></li>
				<li><a href="#">Interface design</a></li>
			</ul>
		</div>	
		<div class="bigEvent-grids four">
			<h5>Animation & film</h5>
			<ul>
				<li><a href="#">3D Modelling</a></li>
				<li><a href="#">Compositing og VFX</a></li>
				<li><a href="#">Concept</a></li>
				<li><a href="#">Motion Graphics</a></li>
				<li><a href="#">Post production</a></li>
				<li><a href="#">Stopmotion</a></li>
				<li><a href="#">Storyboarding</a></li>
				<li><a href="#">Viral</a></li>
			</ul>
		</div>			
		<div class="bigEvent-grids five">
			<h5>Print</h5>
			<ul>
				<li><a href="#">Catalog</a></li>
				<li><a href="#">Letter design</a></li>
				<li><a href="#">Outdoor & events</a></li>
				<li><a href="#">Posters</a></li>
				<li><a href="#">Games</a></li>
				<li><a href="#">Business cards</a></li>
			</ul>
		</div>	
		<div class="clearfix"></div>
	</div>
</div>	
<!--//services-->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<% include ../pub/footer.ejs %>
<% include ../public/footer.ejs %>